# Dagster storage
DAGSTER_POSTGRES_URL=postgresql://picky:Password123@postgres.picky.local:5432/dagster

# S3 / MinIO
S3_ENDPOINT_URL=http://minio.picky.local:9000
S3_BUCKET=picky-models
S3_MODEL_KEY=models/picky-recs/model.joblib
AWS_ACCESS_KEY_ID=picky
AWS_SECRET_ACCESS_KEY=Password123
AWS_REGION=us-east-1