DAGSTER_POSTGRES_URL=
PRIMARY_POSTGRES_URL=
TESTING_POSTGRES_URL=
QDRANT_URL=
QDRANT_RECIPES_COLLECTION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_ENDPOINT_URL=
S3_BUCKET=
S3_MODEL_KEY=
